<div class="sidebar">
    <% let current = "yes" %>
    <% if(locals.animalData) { %>
        <% animalData.forEach(animal => { console.log(animal.name.replaceAll(" ", "")) %>
        <a href="../<%= locals.preview ? 'preview/' : (animal.group.toLowerCase() + '/') %><%= animal.name.replaceAll(" ", "").toLowerCase() %>" class="sidebar__btn <% if(locals.url) { %> 
            <%= url ===  '/'+animal.name.toLowerCase().replaceAll(" ", "") ? 'active' : "" %>
            <%  } %> "><%= animal.name %></a>
        <% }); %>
      
    <% } %>
</div>